body {
    display: flex;
    justify-content: center;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    border: 2px solid black;
}

.grid > * {
    flex: 0 0 auto;
    height: 100px;
    width: 100px;
}