body {
    display: flex;
    padding: 30px;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.grid {
    flex-basis: 700px;
    display: grid;
    border: 4px solid black;
    aspect-ratio: 1 / 1;
}

.hover-over {
    background-color: black;
}