/* Global */
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 
        'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 
        'Helvetica Neue', sans-serif;
    background-color: rgb(255, 40, 40);
    min-height: 100vh;
    margin: 0;
}

/* Header */
.header {
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-size: 35px;
    padding-top: 35px;
    text-align: center;
    color: gold;
    text-shadow: 1px 1px 0px goldenrod;
}

/* Content */
.content {
    display: flex;
    justify-content: center;
}

    .sketch-pad {
        flex-basis: 700px;
        margin: 35px 60px;
    }

        .grid {
            margin-left: auto;
            margin-right: auto;
            
            display: grid;
            width: 75%;
            aspect-ratio: 1 / 1;

            background-color: white;
            border: 6px solid rgb(222, 32, 32);
            border-radius: 20px;
            overflow: hidden;
        }

            .hover-over {
                background-color: black;
            }

        .buttons {
            margin-top: 10px;
            display: flex;
            justify-content: space-between;
        }

        .buttons > * {
            width: 12%;
            display: flex;
            flex-direction: column;
            gap: 16px;
        }

            .edit-text-wrapper,
            .mode-text-wrapper {
                align-self: center;
                height: 20px;
                width: 200px;
            }

            .edit-text,
            .mode-text {
                text-align: center;
                color: white;
                font-family: 'Trebuchet MS', sans-serif;
                font-style: italic;
                font-size: 14px;
                text-shadow: 1px 1px 0px goldenrod;
            }

                .edit-button,
                .mode-button
                {
                    width: 100%; 
                    aspect-ratio: 1/1;
                    border-radius: 50px;
                    cursor: pointer;
                    outline: none;
                    color: #fff;
                    background-color: rgb(255, 255, 255);
                    border: none;
                    box-shadow: 0px 5px rgb(112, 111, 111);
                }
                
                .edit-button:hover,
                .mode-button:hover 
                {
                    background-color: rgb(210, 210, 210);
                }
                
                .edit-button:active,
                .mode-button:active {
                    box-shadow: 0 2px rgb(65, 65, 65);
                    transform: translateY(3px);
                }
        
/* Footer */
.footer {
    padding: 5px;
    text-align: center;
    color: rgb(225, 225, 225);
    background-color: rgb(152, 27, 27);
}